body, html {
    margin: 0; padding: 0;
}

:root {
    --primarycolor: #1895d3;
    --secondarycolor: #3ac7e8;
}

.navigationbar {
    /* overflow: hidden; */
    z-index: 1;
    background-color: #ffffff;
    position: fixed; /* Set the navigationbar to fixed position */
    top: 0; /* Position the navigationbar at the top of the page */
    width: 100%; /* Full width */
    height: 60px;
    box-shadow: 0 8px 10px -10px gray;

}

.navigationbar .icon {
    display: none;
  }

.navigationbar img {
    position: absolute;
    margin: auto;
    padding: 14px;
}   

.container {
    display: flex;
    margin: auto;
    width: 60%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;

}

  /* Links inside the navigationbar */

.container a {
    float: left;
    display: block;
    color: var(--primarycolor);
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 18pt;
}



.container > a {
    font-size: 16px;

}



.container > a:hover {
    color:rgb(0, 105, 157);
    border-bottom: 3px solid var(--secondarycolor);
}




/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 837px) {
    
    .container {
        display: none;
    }

    .navigationbar a.icon {
        scale: 1.5;
        color: black;
        right: 0;
        top: 8px;
        position: absolute;
        float: right;
        display: inline;
        padding: 13px;
    }


    .navigationbar.responsive {
        animation-name: dropdown;
        animation-duration: 0.4s;
        height: 270px;
        width: 100%;
    }

    @keyframes dropdown {
        from {height: 60px}
        to {height: 270px}
    }


    .container.responsive {
        opacity: 0%;
        animation-delay: 0.5s;
        animation: fade-2 1s forwards;
        padding-top: 60px;
        display: flex;
        margin: auto;
        width: 300px;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }

    .container a:nth-child(1) {
        border-top: 2px solid rgb(170, 170, 170);
    }

    .container a {
        margin-bottom: 0;
        margin-top: 2px;
        border-bottom: 2px solid rgb(170, 170, 170);
    }
    
}



body {
    background-color: white;
    font-family: 'Oswald', sans-serif !important;


}

.bluebar {
    width: auto;
    height: 120px;
    background-color: var(--secondarycolor);
}

.homeimage {
    width: 100%;
    height: 600px;
    object-fit: cover;

}

/* Image Slideshow */

.image-slideshow1 .image1 img {
 height: 700px;
 justify-content: center;
 margin: auto;
}

.fade {
  animation-name: fade;
  animation-duration: 2s;
}
@keyframes fade {
  from {opacity: .5}
  to {opacity: 1}
}

@keyframes fade-2 {
    from {opacity: 0}
    to {opacity: 1}
  }

h1 {
padding-top: 50px;
overflow: hidden;
text-align: center;
color: rgb(0, 0, 0);
}

h1::before,
h1::after {
background-color: var(--secondarycolor);
content: "";
display: inline-block;
height: 2px;
position: relative;
vertical-align: middle;
width: 100px;
}

h1::before {
right: 0.5em;
margin-left: -50%;
}

h1::after {
left: 0.5em;
margin-right: -50%;
}

.container2 {
    display: flex;
    margin: auto;
    width: 80%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 30px;


}

.container2 p {
    width: 400px
}

.box {
    padding: 15px;
}

.center {
    display: block;
    margin: auto;
  }

#box4 img {
    width: 400px;
    height: 300px;
    object-fit: cover;
}

.carousel img {
    width: auto;
    height: 800px;
    object-fit: cover;

}



